section(class="displayModal")
    h2 Folders:
    ul(class="folders") 
        each folder in folders  
            if folder.base === true 
                li(class="defaultFolder") MAIN
            else 
                li=folder.name