section(class="displayModal")
    h2 Folders:
    ul(class="folders") 
        each folder in folders  
            if folder.base === true 
                li(class="defaultFolder") MAIN
                    .buttonContainer
                        span(class = "material-symbols-outlined") edit
                        span(class = "material-symbols-outlined") folder_open
            else 
                li=folder.name
                    .buttonContainer
                        span(class = "material-symbols-outlined") edit
                        span(class = "material-symbols-outlined") folder_open
                        span(class = "material-symbols-outlined") delete
                        