.loginModal 
    form(action="/signUp" method="get")
        p New User?  
        button(type="submit") Create Account
        
    form(action="/logIn" method="get")
        p Already Registered?
        button(type="submit") Log In
