* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(208, 209, 210);
}

.credentials {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid black;
  padding: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}

.loginModal {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid black;
  justify-content: center;
  padding: 2rem;
  align-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.loginModal button {
  width: 100%;
}

.loginModal form {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formComponent {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.submitButton {
  align-self: center;
  font-size: large;
  padding: 0.3rem;
}

.fileForm {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid black;
  padding: 2rem;
}

.notification {
  display: flex;
  background-color: white;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid black;
  padding: 2rem;
  justify-content: center;
  text-align: center;
}


.displayModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
}

.folders {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
  max-width: 80%;
  flex-wrap: wrap;
}

.folders .defaultFolder {
  background-color: rgb(248, 175, 175);
}

.folders li {
  height: 4rem;
  width: 4rem;
  border-radius: 10px;
  background-color: rgb(152, 213, 251);
}