include ../components/head
h1=title
- const editPath = "/editFolder/" + folderId
form(action=editPath, method="post") 
    input(type="text" name="folderName" placeholder=oldName)
    input(type="hidden" name="folderId" value=folderId)
    button(type="cancel") 
        a(href="/") Cancel
    button(type="submit") Save