html 
    head 
        title=title 
        link(rel="stylesheet", href="/style.css")
    body 
        h1=title
        if user
            form(action="/logOut" method="post")
                button(type="submit") Log Out
            div Welcome back #{user.username}
            form(action="/newFile" method="get")
                button(type="submit") Upload New File
        else
            include ../components/loginModal

