h1 File Uploader Project

form(action="/logUsers" method="get")
    button(type="submit") Log All Users

form(action="/signUp" method="get")
    button(type="submit") New User

form(action="/logIn" method="get")
    button(type="submit") Log In

