h1 Log In Existing User
form(action="/" method="get")
    button(type="submit") Home

form(action="/logIn" method="post")
    .formComponent 
        label(for="username") Username: 
        input(type="text" name="username")
    .formComponent 
        label(for="password") Password: 
        input(type="text" name="password")
    .formComponent 
        button(type="submit") Submit
        