h1 Create User

form(action="/" method="get")
    button(type="submit") Home


form(action="/signUp" method="post")
    .formComponent 
        label(for="firstName") First Name: 
        input(type="text" name="firstName")
    .formComponent 
        label(for="lastName") Last Name: 
        input(type="text" name="lastName")
    .formComponent 
        label(for="username") Username: 
        input(type="text" name="username")
    .formComponent 
        label(for="password") Password: 
        input(type="text" name="password")
    .formComponent 
        label(for="confirmPassword") Confirm Password: 
        input(type="text" name="confirmPassword")
    .formComponent 
        button(type="submit") Submit
        